<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container">
      <h3 class="text-center">Not able To Send Email Try again!</h3>
      <a class="text-center" href="/">Sent Email</a>
    </div>
  </body>
</html>
