<!DOCTYPE html>
<html>

<body>
    <h4>Send Email</h4>
    <form action="/sendemail" method="post">
        <div class="form-group">
            <input class="form-control" type="email" name="to" required placeholder="To:">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" min="3" max="25" name="subject" placeholder="Subject:" required>
        </div>
        <div class="form-group">
            <textarea cols="25" rows="10"  min="5" max="100" class="form-control" placeholder="Body:" name="text" required></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-block btn-danger">
                Send Message
            </button>
        </div>
    </form>
</body>

</html>